.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px;
}

nav li a {
  text-decoration: none;
  color: #111010;
  padding: 1em;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

nav li a:hover {
  background-color: #8723ca;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(10vh, auto);
  text-align: center;
  gap: 1em 1em;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px 0;
  width: 100%;
  clear: both;
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  bottom: 0;
}

.footeritem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footborder {
  border-right: 1px solid white;
  padding-right: 10rem;
}

.fa-brands {
  padding: 10px;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: black;
  color: white;
  font-style: italic;
  text-align: center;
  opacity: 0.8;
  position: relative;
  top: -160px;
  padding: 20px;
  margin: 60px;
}

.bgfoot {
  background-color: black;
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body {
    background-color: #aaa398;
  }
  nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px;
  }
  .itemnav {
    width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5px 0.5px 0.5px 8px 0.5px 0.5px 0.5px;
        grid-template-columns: 0.5px 0.5px 0.5px 8px 0.5px 0.5px 0.5px;
    gap: 60px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px 0;
    width: 100%;
    clear: both;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    bottom: 0;
  }
  .bgfoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: black;
    color: white;
    font-style: italic;
    text-align: center;
    opacity: 0.8;
    position: relative;
    top: -100px;
    padding: 20px;
    margin: 1px;
    left: 1px;
    width: 110%;
  }
}

@media (min-width: 768px) and (max-device-width: 1366px) {
  .header {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body {
    background-color: #e4ece2;
  }
  .itemnav {
    width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5px 0.5px 0.5px 8px 0.5px 0.5px 0.5px;
        grid-template-columns: 0.5px 0.5px 0.5px 8px 0.5px 0.5px 0.5px;
    gap: 10px;
  }
  .container {
    width: 60%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .bgfoot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  figcaption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: black;
    color: white;
    font-style: italic;
    text-align: center;
    opacity: 0.8;
    position: relative;
    top: -100px;
    padding: 20px;
    margin: 1px;
    width: 100%;
    left: 10px;
  }
}
/*# sourceMappingURL=style.css.map */